.banner {
  background-color: #f7f7f7;
  padding: 31px 23px 71px;
}

.banner__controls {
  display: none;
}

.banner__slide {
  display: none;
}

.banner__image-wrapper {
  align-self: center;
}

.banner__image {
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: multiply;
}

@media (min-width: @desktop-width) {
  .banner {
    order: 1;
    width: 100%;
    padding: 0;
    position: relative;
    background-color: transparent;
  }

  .banner__controls {
    top: 50%;
    left: calc(75vw - 112px);
    transform: translateY(-50%);
  }

  .banner__slide {
    width: calc(75vw - 80px);
    align-items: center;
    overflow: hidden;

    &.slick-active {
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }
  }

  .banner__image-wrapper {
    order: 1;
    width: 100%;
    min-height: 288px;
    align-self: auto;
    flex-shrink: 0;
  }
}

@media (min-width: 1440px) {
  .banner__controls {
    left: calc(75vw - 32px);
  }

  .banner__slide {
    width: 75vw;
  }

  .banner__title {
    font-size: 48px;
    line-height: 48px;
    margin-left: 40px;
  }
}
