.banner {
  background-color: #f7f7f7;
  padding: 31px 23px 71px;
}

.banner__controls {
  display: none;
}

.banner__image-wrapper {
  align-self: center;
}

.banner__image {
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: multiply;
}

@media (min-width: @notebook-width) {
  .banner {
    order: 1;
    width: 100%;
    padding: 0;
    .fluid(padding-left, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);
    .fluid(padding-right, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);
    position: relative;
    background-color: transparent;
  }

  .banner__controls {
    top: 50%;
    left: calc((@notebook-offset + unit(@desktop-offset - @notebook-offset) * (100vw - @notebook-width) / unit(@desktop-width - @notebook-width)) + (66vw - 32px));
    transform: translateY(-50%);
  }

  .banner__slide {
    width: 66vw;
    align-items: center;
    overflow: hidden;
    position: relative;

    &.slick-active {
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000000;
      opacity: 0;
      transition: all 0.5s linear;
    }

    &:not(.slick-active) {
      &::after {
        opacity: 0.4;
      }
    }
  }

  .slick-cloned {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      opacity: 0;
      transition: all 0.5s linear;
    }

    .banner__slide.slick-active + & {
      &::after {
        background-color: #000000;
        opacity: 0.4;
      }
    }

    .banner__slide.slick-active ~ & {
      & + .slick-cloned {
        &::after {
          background-color: #000000;
          opacity: 0.4;
        }
      }
    }
  }

  .banner__image-wrapper {
    order: 1;
    width: 100%;
    align-self: auto;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f7f7f7;
  }

  .banner__image {
    width: auto;
    max-height: 505px;
    min-height: 288px;
    mix-blend-mode: normal;
  }
}

@media (min-width: @desktop-width) {
  .banner {
    padding-left: calc(50% - @desktop-width / 2 + @desktop-offset);
    padding-right: calc(50% - @desktop-width / 2 + @desktop-offset);
  }

  .banner__controls {
    left: calc((50% - @desktop-width / 2 + @desktop-offset) + (@desktop-width * 0.66 - 32px));
  }

  .banner__slide {
    width: @desktop-width * 0.66;
  }
}
