.bestsellers {
  padding-top: 31px;
}

.bestsellers__title {
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 27px;
  margin-right: 27px;
  font-weight: 700;
  font-size: 27px;
  line-height: 31px;
  color: @title-color;
}

.bestsellers__product {
  border-top: 1px solid #eceff1;
  padding-top: 24px;
  padding-bottom: 41px;
  padding-left: 12px;
  padding-right: 19px;
  display: flex;
  flex-wrap: wrap;

  &:nth-of-type(5) {
    border-bottom: 1px solid #eceff1;
  }

  &:nth-of-type(n + 6) {
    display: none;
  }
}

.bestsellers__image-wrapper {
  margin-right: 20px;
}

.bestsellers__info {
  width: calc(100% - 148px);
  display: flex;
  flex-direction: column;
}

.bestsellers__category {
  font-size: 11px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.55);
  margin-top: 0;
  margin-bottom: 9px;
}

.bestsellers__name {
  margin-top: 0;
  margin-bottom: auto;
}

.bestsellers__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #314047;
}

.bestsellers__characteristics {
  display: none;
}

.bestsellers__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bestsellers__cost {
  display: flex;
  flex-direction: column;
}

.bestsellers__value {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: @title-color;
  margin-top: 0;
  margin-bottom: 1px;
  position: relative;

  &--request {
    color: #eaa700;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      top: 7px;
      right: -10px;
      background: url("../../img/icon-arrow-top-right.svg") no-repeat center;
      background-size: contain;
    }
  }
}

.bestsellers__tag {
  font-size: 11px;
  line-height: 13px;
  color: rgba(49, 64, 71, 0.5);
}

.bestsellers__comparison {
  font-size: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #eceff1;
  background: url("../../img/icon-comparison-black.svg") no-repeat center;
}

.bestsellers__cart {
  display: none;
}

@media (min-width: @desktop-width) {
  .bestsellers {
    position: relative;
    order: 4;
    width: 100%;
    padding-top: 0;
    display: grid;
    grid-template-columns: 28% 24% 24% 24%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "first second third fourth" "first fifth sixth sixth";
  }


  .bestsellers__title {
    display: none;
  }

  .bestsellers__product {
    min-height: 360px;
    border-top: 0;
    padding-top: 33px;
    padding-bottom: 28px;
    padding-left: 2.22vw;
    padding-right: 2.22vw;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(24, 39, 46, 0.9);
      opacity: 0;
      transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &:hover::after {
      opacity: 1;
    }

    &:nth-of-type(1) {
      grid-area: first;
      padding-top: 67px;
      padding-bottom: 59px;
      padding-left: 2vw;
      padding-right: 2vw;
      background-color: #15262e;

      &::before {
        content: "Лидер продаж";
        position: absolute;
        margin: 0;
        font-weight: 700;
        font-size: 5.5vw;
        line-height: 7.2vw;
        color: rgba(255, 255, 255, 0.1);
        transform: rotate(180deg);
        top: 0;
        height: 100%;
        right: -5.3%;
        text-align: center;
        writing-mode: vertical-rl;
        z-index: -1;
      }

      &:hover::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(21, 38, 46, 0.9);
      }
    }

    &:nth-of-type(2) {
      grid-area: second;
    }

    &:nth-of-type(3) {
      grid-area: third;
      background-color: rgba(234, 234, 234, 0.7);
    }

    &:nth-of-type(4) {
      grid-area: fourth;
      background-color: #15262e;

      &:hover::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(21, 38, 46, 0.9);
      }
    }

    &:nth-of-type(5) {
      grid-area: fifth;
      background-color: rgba(234, 234, 234, 0.7);
      border-bottom: 0;
    }

    &:nth-of-type(6) {
      display: flex;
      grid-area: sixth;
      background-color: #ffc700;
    }
  }

  .bestsellers__image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 0;
    width: 100%;
    text-align: center;

    .bestsellers__product:nth-of-type(1) & {
      line-height: 330px;
      height: 330px;
      margin-top: 26px;
    }

    .bestsellers__product:nth-of-type(2) & {
      line-height: 192px;
      height: 192px;
    }

    .bestsellers__product:nth-of-type(3) & {
      line-height: 125px;
      height: 125px;
      margin-top: 8px;
    }

    .bestsellers__product:nth-of-type(4) & {
      line-height: 159px;
      height: 159px;
    }

    .bestsellers__product:nth-of-type(5) & {
      line-height: 205px;
      height: 205px;
    }

    .bestsellers__product:nth-of-type(6) & {
      line-height: 201px;
      height: 201px;
      margin-top: 15px;
    }
  }

  .bestsellers__image {
    display: inline-block;
    vertical-align: middle;

    .bestsellers__product:nth-of-type(1) & {
      max-height: 330px;
      max-width: 72%;
    }

    .bestsellers__product:nth-of-type(2) & {
      max-height: 192px;
      max-width: 55%;
    }

    .bestsellers__product:nth-of-type(3) & {
      max-height: 125px;
      max-width: 65%;
    }

    .bestsellers__product:nth-of-type(4) & {
      max-height: 159px;
      max-width: 70%;
    }

    .bestsellers__product:nth-of-type(5) & {
      max-height: 205px;
      max-width: 60%;
    }

    .bestsellers__product:nth-of-type(6) & {
      max-height: 201px;
      max-width: 50%;
    }
  }

  .bestsellers__info {
    width: 100%;
    z-index: 1;
  }

  .bestsellers__category {
    display: none;
  }

  .bestsellers__link {
    max-width: 180px;
    font-size: 16px;
    line-height: 22px;
    color: @title-color;
    transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);

    .bestsellers__product:nth-of-type(1) & {
      max-width: 220px;
      font-size: 21px;
      line-height: 27px;
      color: #ffffff;
    }

    .bestsellers__product:nth-of-type(4) &,
    .bestsellers__product:hover & {
      color: #ffffff;
      transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);

      &:hover {
        color: #000000;
      }
    }

    &:hover {
      color: #000000;
    }
  }

  .bestsellers__characteristics {
    display: flex;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    .bestsellers__product:hover & {
      opacity: 1;
    }
  }

  .bestsellers__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);

    .bestsellers__product:nth-of-type(2) &,
    .bestsellers__product:nth-of-type(3) &,
    .bestsellers__product:nth-of-type(4) &,
    .bestsellers__product:nth-of-type(5) & {
      padding-left: 16px;
      padding-right: 16px;
    }

    &:last-of-type {
      border-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 17px;
      top: calc(100% + 16px);
      left: 50%;
      transform: translateX(-50%);
      background: url("../../img/icon-tip.svg") no-repeat center;
      background-size: contain;

      .bestsellers__product:nth-of-type(2) &,
      .bestsellers__product:nth-of-type(3) &,
      .bestsellers__product:nth-of-type(4) &,
      .bestsellers__product:nth-of-type(5) & {
        top: calc(100% + 12px);
      }
    }
  }

  .bestsellers__characteristic {
    margin-bottom: 3px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;

    .bestsellers__product:nth-of-type(2) &,
    .bestsellers__product:nth-of-type(3) &,
    .bestsellers__product:nth-of-type(4) &,
    .bestsellers__product:nth-of-type(5) & {
      font-size: 18px;
      line-height: 21px;
    }
  }

  .bestsellers__caption {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.5);
  }

  .bestsellers__footer {
    margin-top: auto;
  }

  .bestsellers__cost {
    min-height: 40px;
    margin-right: auto;
    justify-content: center;
  }

  .bestsellers__value {
    transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);

    .bestsellers__product:hover & {
      color: #ffffff;

      &:hover {
        color: #ffb600;
      }
    }

    &--request {
      .bestsellers__product:nth-of-type(2) &,
      .bestsellers__product:nth-of-type(6) & {
        color: @title-color;
      }

      .bestsellers__product:hover & {
        color: #eaa700;

        &:hover {
          color: #000000;
        }
      }
    }

    .bestsellers__product:nth-of-type(1) & {
      font-size: 21px;
      line-height: 25px;
      color: #ffffff;
    }
  }

  .bestsellers__tag {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(51, 51, 51, 0.5);
    transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);

    .bestsellers__product:nth-of-type(1) &,
    .bestsellers__product:nth-of-type(4) &,
    .bestsellers__product:hover & {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .bestsellers__comparison {
    width: 32px;
    height: 32px;
    opacity: 0;
    margin-right: 8px;
    background-image: url("../../img/icon-comparison-desktop.svg");
    background-size: 16px;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    .bestsellers__product:nth-of-type(1) & {
      width: 40px;
      height: 40px;
      background-size: 20px;
    }

    .bestsellers__product:hover & {
      opacity: 0.5;
    }
  }

  .bestsellers__cart {
    display: block;
    font-size: 0;
    width: 32px;
    height: 32px;
    border: 1px solid #ffc700;
    background: #fbc02d url("../../img/icon-cart-black.svg") no-repeat center;
    background-size: 16px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    .bestsellers__product:nth-of-type(1) & {
      width: 40px;
      height: 40px;
      background-size: 20px;
    }

    .bestsellers__product:hover & {
      opacity: 1;
    }
  }
}

@media (min-width: 1440px) {
  .bestsellers {
    grid-template-columns: 32% 28% 20% 20%;
  }

  .bestsellers__product {
    &:nth-of-type(1) {
      padding-left: 58px;
      padding-right: 58px;

      &::before {
        font-size: 79px;
        line-height: 103px;
        right: -20px;
      }
    }
  }

  .bestsellers__image {
    .bestsellers__product:nth-of-type(1) & {
      max-height: 330px;
    }

    .bestsellers__product:nth-of-type(2) & {
      max-height: 192px;
    }

    .bestsellers__product:nth-of-type(3) & {
      max-height: 125px;
    }

    .bestsellers__product:nth-of-type(4) & {
      max-height: 159px;
    }

    .bestsellers__product:nth-of-type(5) & {
      max-height: 205px;
    }

    .bestsellers__product:nth-of-type(6) & {
      max-height: 201px;
    }
  }

  .bestsellers__comparison {
    width: 40px;
    height: 40px;
    background-size: 20px;
  }

  .bestsellers__cart {
    width: 40px;
    height: 40px;
    background-size: 20px;
  }
}

@media (min-width: 1920px) {
  .bestsellers__product {
    min-height: 432px;
    padding-top: 40px;
    padding-bottom: 34px;
  }

  .bestsellers__image-wrapper {
    .bestsellers__product:nth-of-type(1) & {
      line-height: 396px;
      height: 396px;
      margin-top: 31px;
    }

    .bestsellers__product:nth-of-type(2) & {
      line-height: 230px;
      height: 230px;
    }

    .bestsellers__product:nth-of-type(3) & {
      line-height: 150px;
      height: 150px;
      margin-top: 10px;
    }

    .bestsellers__product:nth-of-type(4) & {
      line-height: 191px;
      height: 191px;
    }

    .bestsellers__product:nth-of-type(5) & {
      line-height: 246px;
      height: 246px;
    }

    .bestsellers__product:nth-of-type(6) & {
      line-height: 241px;
      height: 241px;
      margin-top: 18px;
    }
  }

  .bestsellers__image {
    max-width: 100%;

    .bestsellers__product:nth-of-type(1) & {
      max-height: 396px;
    }

    .bestsellers__product:nth-of-type(2) & {
      max-height: 230px;
    }

    .bestsellers__product:nth-of-type(3) & {
      max-height: 150px;
    }

    .bestsellers__product:nth-of-type(4) & {
      max-height: 191px;
    }

    .bestsellers__product:nth-of-type(5) & {
      max-height: 246px;
    }

    .bestsellers__product:nth-of-type(6) & {
      max-height: 241px;
    }
  }
}

@media (min-width: 2200px) {
  .bestsellers__product {
    min-height: 540px;
    padding-top: 50px;
    padding-bottom: 42px;
  }

  .bestsellers__image-wrapper {
    .bestsellers__product:nth-of-type(1) & {
      line-height: 495px;
      height: 495px;
      margin-top: 39px;
    }

    .bestsellers__product:nth-of-type(2) & {
      line-height: 288px;
      height: 288px;
    }

    .bestsellers__product:nth-of-type(3) & {
      line-height: 188px;
      height: 188px;
      margin-top: 12px;
    }

    .bestsellers__product:nth-of-type(4) & {
      line-height: 239px;
      height: 239px;
    }

    .bestsellers__product:nth-of-type(5) & {
      line-height: 308px;
      height: 308px;
    }

    .bestsellers__product:nth-of-type(6) & {
      line-height: 302px;
      height: 302px;
      margin-top: 23px;
    }
  }

  .bestsellers__image {
    .bestsellers__product:nth-of-type(1) & {
      max-height: 495px;
    }

    .bestsellers__product:nth-of-type(2) & {
      max-height: 288px;
    }

    .bestsellers__product:nth-of-type(3) & {
      max-height: 188px;
    }

    .bestsellers__product:nth-of-type(4) & {
      max-height: 239px;
    }

    .bestsellers__product:nth-of-type(5) & {
      max-height: 308px;
    }

    .bestsellers__product:nth-of-type(6) & {
      max-height: 302px;
    }
  }
}
