.catalog {
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  background-color: #ffffff;
  overflow: auto;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

  &--opened {
    transform: translateX(0);
  }

  &::after {
    content: "";
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 5px;
    height: 56px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 60%);
  }
}

.catalog__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 27px;
  padding-right: 91px;
  border-bottom: 1px solid #eceff1;
  background-color: #ffffff;
  z-index: 1;

  &::after {
    content: "";
    position: fixed;
    z-index: 1;
    top: 64px;
    left: 0;
    right: 5px;
    height: 30px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #ffffff 60%);
  }
}

.catalog__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 27px;
  color: @title-color;

  &--opened {
    font-size: 16px;
    line-height: 16px;
    padding-left: 17px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 4px);
      left: -14px;
      width: 22px;
      height: 10px;
      transform: rotate(90deg) translateY(-50%);
      background: url("../../img/icon-arrow-fat-big.svg") no-repeat center;
      background-size: contain;
    }
  }
}

.catalog__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 64px;
  font-size: 0;
  border: 0;
  background: #fbc02d url("../../img/icon-close.svg") no-repeat center;
  cursor: pointer;
}

.catalog__wrapper {
  overflow-x: hidden;
  height: calc(100% - 64px);
  margin-top: 64px;
  padding-top: 40px;
  padding-bottom: 56px;
}

.catalog__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.catalog__item {
  display: flex;

  &--closed {
    display: none;
  }
}

.catalog__link {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: @title-color;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 46px;
  position: relative;

  &--closed {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    right: 18px;
    width: 12px;
    height: 6px;
    transform: rotate(-90deg) translateY(-50%);
    background: url("../../img/icon-arrow-fat-big.svg") no-repeat center;
    background-size: contain;
  }

  &:only-child {
    &::after {
      display: none;
    }
  }
}

.catalog__number {
  top: -0.8em;
  margin-left: 5px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.4);

  .catalog__link:only-child & {
    display: none;
  }
}

.catalog__sublist {
  display: none;
  width: 100%;
  padding-left: 0;
  list-style: none;

  &--opened {
    display: block;
  }
}

.catalog__subitem {
  display: flex;
}

.catalog__sublink {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: @title-color;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 46px;
}

.catalog__subnumber {
  top: -0.8em;
  margin-left: 5px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.4);
}

@media (min-width: @desktop-width) {
  .catalog {
    left: 80px;
    background-color: transparent;
    overflow: hidden;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .catalog__header {
    position: absolute;
    top: 72px;
    .fluid(left, 360, 480, 1024, 1440);
    right: auto;
    width: 84px;
    padding: 0;
    background-color: transparent;
    border-bottom: 0;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    &--opened {
      .fluid(left, 720, 960, 1024, 1440);
    }

    &::after {
      display: none;
    }
  }

  .catalog__title {
    display: none;
  }

  .catalog__toggle {
    background-color: transparent;
    background-image: url("../../img/icon-close-yellow.svg");
  }

  .catalog__wrapper {
    .fluid(width, 360, 480, 1024, 1440);
    overflow: hidden;
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    // background-color: #ffffff;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    &--opened {
      .fluid(width, 720, 960, 1024, 1440);
    }
  }

  .catalog__list {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    .fluid(width, 360, 480, 1024, 1440);
    margin-top: 0;
    margin-bottom: 0;
    // margin-left: 1px;
    // padding-top: 85px;
    // padding-bottom: 85px;
    background-color: #ffffff;
    // border-right: 1px solid #eceff1;
  }

  .catalog__item {
    &:first-of-type {
      margin-top: 85px;
    }

    &:last-of-type {
      margin-bottom: 85px;
    }
  }

  .catalog__link {
    padding-left: 64px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    &::before {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 64px;
      width: 107px;
      height: 2px;
      background-color: #f1ac00;
      transform: scaleX(0);
      transform-origin: 0 0;
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &::after {
      right: 26px;
    }

    &--opened {
      &::before {
        transform: scaleX(1);
      }

      &:only-child {
        &::before {
          display: none;
        }
      }
    }

    &:hover {
      color: #000000;
    }
  }

  .catalog__sublist {
    display: block;
    overflow: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    .fluid(left, 360, 480, 1024, 1440);
    .fluid(width, 360, 480, 1024, 1440);
    transform: translateX(-100%);
    padding-top: 85px;
    padding-bottom: 85px;
    transition:
      transform 0.2s linear,
      z-index 0s linear;
    background-color: #ffffff;
    border-left: 1px solid #eceff1;

    &--opened {
      z-index: 1;
      transform: translateX(0);
      transition:
        transform 0.2s linear 0.3s,
        z-index 0s linear 0.5s;
    }
  }

  .catalog__sublink {
    padding-left: 64px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 64px;
      width: 107px;
      height: 2px;
      background-color: #f1ac00;
      transform: scaleX(0);
      transform-origin: 0 0;
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &:hover {
      color: #000000;

      &::before {
        transform: scaleX(1);
      }
    }
  }
}
