.categories__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.categories__item {
  position: relative;
  width: 50%;
  border-top: 1px solid #eceff1;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  display: flex;
  align-items: center;

  &:nth-of-type(n + 6) {
    display: none;
  }

  &--compressor {
    order: 1;

    &::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 24px;
      left: 16px;
      background: url("../../img/icon-compressor.png") no-repeat center;
    }
  }

  &--dehydrator {
    order: 3;

    &::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      left: 16px;
      background: url("../../img/icon-pump.png") no-repeat center;
    }
  }

  &--pneumotool {
    display: none;
  }

  &--pump {
    order: 2;
    padding-left: 45px;

    &::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      left: 11px;
      background: url("../../img/icon-pump.png") no-repeat center;
    }
  }

  &--powerstation {
    order: 4;
    padding-left: 45px;

    &::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 24px;
      left: 11px;
      background: url("../../img/icon-compressor.png") no-repeat center;
    }
  }
}

.categories__title {
  display: none;
}

.categories__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: @title-color;
}

.categories__number {
  display: none;
}

.categories__sublist {
  display: none;
}

.categories__all {
  display: none;
}

@media (min-width: @notebook-width) {
  .categories {
    order: 2;
    width: calc(100vw - (40px + 24 * (100vw - 1024px) / 664) * 2 - (100vw - 100%));
    .fluid(margin-left, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);
    .fluid(margin-right, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);
    overflow: hidden;
  }

  .categories__list {
    counter-reset: categories;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "compressor dehydrator pneumotool powerstation";
  }

  .categories__item {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 56px;
    padding-bottom: 56px;
    .fluid(padding-left, 24px, 48px, @notebook-width, @desktop-width);
    .fluid(padding-right, 24px, 48px, @notebook-width, @desktop-width);
    border-top: 0;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    &:nth-of-type(n + 5) {
      display: flex;
    }

    &::before {
      content: "0" counter(categories);
      position: absolute;
      counter-increment: categories;
      top: 40px;
      right: 40px;
      left: auto;
      background: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: rgba(0, 0, 0, 0.4);
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &--compressor {
      grid-area: compressor;
      background-color: #15262e;

      &::before {
        color: rgba(255, 255, 255, 0.4);
      }

      &::after {
        background: url("../../img/compressor.svg") no-repeat center 88px;
        .fluid(background-size, 200px, 248px, @notebook-width, @desktop-width);
      }
    }

    &--dehydrator {
      order: 2;
      grid-area: dehydrator;
      background-color: #fbc02d;

      &::after {
        background: url("../../img/dehydrator.svg") no-repeat center 88px;
        .fluid(background-size, 104px, 128px, @notebook-width, @desktop-width);
      }
    }

    &--pump {
      display: none;
      order: 4;
      grid-area: pump;

      &::after {
        background: url("../../img/pump.svg") no-repeat center;
        background-size: 70%;
      }
    }

    &--powerstation {
      order: 5;
      grid-area: powerstation;
      background-color: #f7f7f7;

      &::after {
        background: url("../../img/powerstation.svg") no-repeat center 112px;
        .fluid(background-size, 200px, 248px, @notebook-width, @desktop-width);
      }
    }

    &--pneumotool {
      order: 3;
      display: flex;
      grid-area: pneumotool;

      &::after {
        background: url("../../img/pneumotool.svg") no-repeat center 112px;
        .fluid(background-size, 200px, 248px, @notebook-width, @desktop-width);
      }
    }

    &:hover {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 0;
      }
    }
  }

  .categories__title {
    display: block;
    order: 1;
    position: relative;
    width: 100%;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    color: @title-color;

    .categories__item--compressor & {
      color: #ffffff;
      margin-bottom: 28px;
    }

    .categories__item:hover & {
      display: block;
      opacity: 1;
    }
  }

  .categories__link {
    max-height: 42px;
    order: 4;
    position: absolute;
    bottom: 56px;
    .fluid(left, 24px, 48px, @notebook-width, @desktop-width);
    .fluid(right, 24px, 48px, @notebook-width, @desktop-width);
    z-index: 1;
    font-size: 18px;
    line-height: 21px;
    word-break: break-word;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    visibility: visible;

    .categories__item--compressor & {
      color: #ffffff;
    }

    .categories__item:hover & {
      opacity: 0;
      max-height: 0;
      visibility: hidden;
    }
  }

  .categories__number {
    display: inline;
    margin-left: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(51, 51, 51, 0.4);

    .categories__item--compressor & {
      color: rgba(255, 255, 255, 0.4);
    }
  }

  .categories__sublist {
    order: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 1px; // для firefox, чтобы link не выпадал за границы
    margin-bottom: 32px;
    padding-left: 0;
    list-style: none;
    transition: opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 0;

    .categories__item:hover & {
      display: flex;
      opacity: 1;
    }
  }

  .categories__subitem {
    margin-bottom: 16px;
    line-height: 18px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .categories__sublink {
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    color: @title-color;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);

    .categories__item--compressor & {
      color: #ffffff;

      &:hover {
        color: #ffb600;
      }
    }

    &:hover {
      color: #000000;
    }
  }

  .categories__subnumber {
    top: -0.3em;
    margin-left: 3px;
  }

  .categories__all {
    display: block;
    margin-bottom: auto;
    order: 3;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    color: #e3a815;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    &--black {
      color: @title-color;
    }

    .categories__item:hover & {
      display: block;
      opacity: 1;
    }
  }
}

@media (min-width: @desktop-width) {
  .categories {
    width: @desktop-width - @desktop-offset * 2;
    height: auto;
    margin-left: calc(50% - @desktop-width / 2 + @desktop-offset);
    margin-right: calc(50% - @desktop-width / 2 + @desktop-offset);
  }

  .categories__list {
    width: 100%;
  }

  .categories__item {
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 48px;
    padding-right: 48px;

    &--compressor {
      &::after {
        background-size: 248px;
      }
    }

    &--dehydrator {
      &::after {
        background-size: 128px;
      }
    }

    &--pneumotool {
      &::after {
        background-size: 248px;
      }
    }

    &--powerstation {
      &::after {
        background-size: 248px;
      }
    }
  }

  .categories__link {
    left: 48px;
    right: 48px;
  }
}
