.clients {
  position: relative;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  padding-bottom: 71px;
}

.clients__title {
  margin-top: 51px;
  margin-bottom: 61px;
  margin-left: 60px;
  margin-right: 60px;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.4);
  text-align: center;
}

.clients__image-wrapper {
  margin-right: 51px;
  padding-left: 19px;
  flex-shrink: 0;
}

.clients__image {
  filter: grayscale(1);
  opacity: 0.6;
  object-fit: scale-down;

  &:hover {
    filter: none;
    opacity: 1;
  }
}

@media (min-width: @desktop-width) {
  .clients {
    order: 11;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 100px;
  }

  .clients__list {
    padding-left: 80px;
    padding-right: 80px;
  }

  .clients__image-wrapper {
    margin-bottom: 40px;
    margin-right: 65px;
    padding-left: 0;
    max-height: 81px;
    max-width: 202px;
  }
}
