.clients {
  position: relative;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  padding-bottom: 71px;
}

.clients__title {
  margin-top: 51px;
  margin-bottom: 61px;
  margin-left: 60px;
  margin-right: 60px;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.4);
  text-align: center;
}

.clients__list {
  margin-bottom: 48px;
  mix-blend-mode: multiply;
}

.clients__image-wrapper {
  max-width: 201px;
  margin-right: 51px;
  padding-left: 19px;
  flex-shrink: 0;
}

.clients__image {
  height: 100%;
  filter: grayscale(1);
  opacity: 0.6;
  object-fit: scale-down;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

  &:hover {
    filter: none;
    opacity: 1;
  }
}

@media (min-width: 700px) {
  .clients__image-wrapper {
    max-width: 182px;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .clients {
    order: 11;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 69px;
  }

  .clients__title {
    margin-bottom: 32px;
  }

  .clients__list {
    .fluid(padding-left, 40, 64, 1024, 1560);
    .fluid(padding-right, 40, 64, 1024, 1560);
  }

  .clients__image-wrapper {
    margin-right: 65px;
    padding-left: 0;
    max-height: 81px;
    max-width: 202px;
  }
}

@media (min-width: 1560px) {
  .clients__list {
    margin-left: calc(50vw - 720px);
    margin-right: calc(50vw - 720px);
    padding-left: 64px;
    padding-right: 64px;
  }
}
