.features__items {
  background-color: #15262e;
  padding-top: 71px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.features__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.features__text {
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 0;
  margin-bottom: 20px;
}

.features__value {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 30px;
  word-break: break-word;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    left: 0;
    top: 15px;
    background: url("../../img/icon-plus.svg") no-repeat center;
    background-size: contain;
  }
}

@media (min-width: @notebook-width) {
  .features {
    order: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(40% - (@notebook-offset + unit(@desktop-offset - @notebook-offset) * (100vw - @notebook-width) / unit(@desktop-width - @notebook-width)));
    max-width: 504px;
    .fluid(padding-right, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);
  }

  .features__items {
    width: 100%;
    height: 100%;
    padding-top: 72px;
    padding-bottom: 97px;
    .fluid(padding-left, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);
    .fluid(padding-right, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);
  }

  .features__value {
    font-size: 80px;
    line-height: 94px;

    &::before {
      width: 12px;
      height: 12px;
      top: 18px;
      left: 7px;
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: calc(50% - @desktop-width * 0.2);
    max-width: none;
    padding-right: calc(50% - @desktop-width / 2 + @desktop-offset);
  }

  .features__items {
    padding-left: @desktop-offset;
    padding-right: @desktop-offset;
  }
}
