.header {
  overflow: auto;

  &--fixed {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #15262e url("../img/bg-mobile-menu.svg") no-repeat right 91px;

    &::after {
      content: "";
      position: fixed;
      bottom: 56px;
      left: 0;
      right: 0;
      height: 61px;
      background-image: linear-gradient(to top, #15262e 0%, rgba(21, 38, 46, 0) 100%);
    }
  }
}

@media (min-width: @desktop-width) {
  .header {
    margin-left: 80px;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.4s;

    &--closed {
      transform: translateY(-100%);
      opacity: 0;
      transition: opacity 0.4s;
    }
  }
}
