.industry {
  background-color: #15262e;
  padding-top: 64px;
  margin-bottom: 157px;
}

.industry__controls {
  display: none;
}

.industry__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 24px;
  margin-right: 52px;
}

.industry__more {
  display: none;
}
