.industry {
  background-color: #15262e;
  padding-top: 64px;
  margin-bottom: 157px;
}

.industry__controls {
  display: none;
}

.industry__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 24px;
  margin-right: 52px;
}

.industry__more {
  display: none;
}

@media (min-width: @desktop-width) {
  .industry {
    order: 6;
    width: 90vw;
    position: relative;
    margin-bottom: 180px;
    padding-top: 97px;
    display: flex;
  }

  .industry__controls {
    top: 0;
    right: 0;
  }

  .industry__header {
    margin-right: 129px;
    padding-bottom: 160px;
    padding-left: 67px;
    z-index: 0;
  }

  .industry__title {
    width: 300px;
    margin-bottom: 69px;
    margin-left: 0;
    margin-right: 0;
    font-size: 48px;
    line-height: 48px;

    & .arrow::after {
      display: none;
    }
  }
}
