.industry {
  background-color: #15262e;
  padding-top: 64px;
  margin-bottom: 157px;
}

.industry__controls {
  display: none;
}

.industry__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 24px;
  margin-right: 52px;
}

.industry__more {
  display: none;
}

@media (min-width: @desktop-width) {
  .industry {
    order: 6;
    width: calc(100% - 40px - 24 * (100vw - 1024px) / 416);
    position: relative;
    margin-bottom: 180px;
    padding-top: 97px;
    display: flex;
  }

  .industry__controls {
    top: 0;
    right: 0;
  }

  .industry__header {
    margin-right: 129px;
    .fluid(margin-right, 88, 128, 1024, 1440);
    padding-bottom: 160px;
    .fluid(padding-left, 40, 64, 1024, 1440);
    z-index: 0;
  }

  .industry__title {
    width: 300px;
    margin-bottom: 69px;
    margin-left: 0;
    margin-right: 0;
    font-size: 48px;
    line-height: 48px;

    & .arrow::after {
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .industry {
    width: calc(100% - 64px - 80 * (100vw - 1440px) / 480);
  }

  .industry__header {
    .fluid(margin-right, 128, 168, 1440, 1920);
    .fluid(padding-left, 64, 72, 1440, 1920);
  }
}

@media (min-width: 1920px) {
  .industry {
    padding-top: 116px;
    margin-bottom: 216px;
  }
}

@media (min-width: 2200px) {
  .industry {
    padding-top: 146px;
    margin-bottom: 270px;
  }

  .industry__title {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 72px;
  }
}
