.logo {
  padding: 16px;

  &--closed {
    display: none;
  }

  &--opened {
    display: flex;
  }

  &--footer {
    order: 1;
    padding: 32px 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.logo__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: @title-color;
}

.logo__image {
  width: 32px;
  height: 32px;

  .logo--footer & {
    width: 40px;
    height: 40px;
  }
}

.logo__title {
  width: 114px;
  height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14px;

  &--closed {
    display: none;
  }

  .logo--footer & {
    width: 150px;
    height: auto;
    margin-left: 16px;
  }
}

.logo__text {
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.4);
  width: 100%;
  margin-left: 48px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: @notebook-width) {
  .logo {
    order: 3;
    margin-top: 28px;
    margin-bottom: 39px;
    align-items: center;
    padding: 0;

    &--footer {
      grid-area: logo;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 35px;
      padding-bottom: 35px;
      .fluid(padding-left, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);
      .fluid(padding-right, 24px, 48px, @notebook-width, @desktop-width);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      flex-wrap: wrap;
    }
  }

  .logo__link {
    flex-grow: 1;
  }

  .logo__image {
    margin-right: 16px;
  }

  .logo__title {
    margin-left: 0;
    margin-right: 57px;

    .logo--footer & {
      width: 112px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .logo__text {
    position: relative;
    font-size: 13px;
    line-height: 15px;
    .fluid(width, 88px, 224px, @notebook-width, @desktop-width);
    flex-grow: 1;

    &::before {
      content: "";
      position: absolute;
      left: -24px;
      width: 1px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

@media (min-width: @desktop-width) {
  .logo--footer {
    padding-left: calc(50vw - @desktop-width / 2 + @desktop-offset);
    padding-right: 48px;
  }

  .logo__text {
    width: 224px;
  }
}
