.products {
  order: 2;
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;

  .main--section & {
    margin-bottom: 32px;
  }

  &--additional {
    position: relative;
    margin-bottom: 64px;
    padding-bottom: 83px;
  }
}

.products__wrapper {
  counter-reset: products;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.products__item {
  text-decoration: none;
  border-top: 1px solid #eceff1;

  &--bg-dark {
    background-color: #15262e;
  }

  &--bg-light {
    background-color: #eceff1;
  }

  &--bg-yellow {
    background-color: #f9c43f;
  }

  .main--catalog & {
    display: flex;
    flex-wrap: wrap;
    min-height: 128px;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 1px solid #e6e6e6;

    &:nth-of-type(n + 9) {
      border-bottom: 1px solid #e6e6e6;
    }
  }

  .main--product & {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 412px;
    padding: 56px 24px;
    border-top: 0;
    border-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;

    &:nth-of-type(1) {
      background-image: url("../../img/products-desktop-04@1x.png");
    }

    &:nth-of-type(2) {
      background-image: url("../../img/products-desktop-05@1x.png");
      background-blend-mode: multiply;
    }

    &:nth-of-type(3) {
      background-image: url("../../img/products-desktop-06@1x.png");
    }

    &:nth-of-type(4) {
      background-image: url("../../img/products-desktop-07@1x.png");
    }

    &:last-of-type {
      border-bottom: 0;
    }

    &::before {
      content: "0" counter(products);
      counter-increment: products;
      position: absolute;
      top: 16px;
      left: 24px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      opacity: 0.4;
      z-index: 1;
    }

    &--bg-dark {
      &::before {
        color: #ffffff;
      }
    }
  }

  .filter--opened & {
    display: none;
  }

  &:nth-of-type(n + 9),
  &:last-of-type {
    border-bottom: 1px solid #eceff1;
  }

  &:nth-of-type(n + 10) {
    display: none;
  }
}

.products__title {
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

.products__more {
  display: none;
}

.products__image {
  align-self: center;
  width: 106px;
  height: 128px;
  object-fit: contain;

  .products--additional & {
    width: 212px;
    height: 195px;
    align-self: center;
  }
}

.products__name {
  width: calc(100% - 106px);
  flex-grow: 1;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;

  .products--additional & {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    color: #333333;
    flex-grow: 0;

    sup {
      font-size: 12px;
      line-height: 14px;
      color: rgba(51, 51, 51, 0.4);
    }
  }

  .products__item--bg-dark & {
    color: #ffffff;

    sup {
      color: rgba(255, 255, 255, 0.4);
    }
  }
}

.products__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 45px;
  padding-right: 16px;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: @title-color;
  background: #fbc02d url("../../img/icon-filter.svg") no-repeat;
  background-position: calc(50% - 35px);
}

@media (min-width: @notebook-width) {
  .products {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 110px;
    padding-top: 0;
    .fluid(padding-left, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);
    .fluid(padding-right, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);

    &--additional {
      order: initial;
      padding-bottom: 0;
      margin-bottom: 110px;
    }
  }

  .products__header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% + 40px);
    height: 300px;
    padding-top: 56px;
    padding-bottom: 56px;
    .fluid(padding-left, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);
    padding-right: 40px;
  }

  .products__title {
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 0;
    padding-right: 0;
    font-size: 36px;
    line-height: 38px;
  }

  .products__more {
    display: block;
    margin-left: 80px;
  }

  .products__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .products__items {
    width: 618px;
    flex-grow: 1;
    display: flex;
    position: relative;
    z-index: 0;
    border-bottom: 1px solid #eceff1;
    border-left: 1px solid #eceff1;

    &--grid {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--row {
      flex-direction: column;
      flex-wrap: nowrap;
      border-right: 1px solid #eceff1;
    }
  }

  .products__item {
    .main--catalog & {
      width: 25%;
      height: auto;
      min-height: 328px;
      flex-direction: column;
      padding: 32px;
      border: 1px solid #e6e6e6;
      margin-top: -1px;
      margin-left: -1px;
      position: relative;

      &:nth-of-type(n + 10) {
        display: flex;

        &::before {
          content: counter(products);
        }
      }

      &::before {
        content: "0" counter(products);
        counter-increment: products;
        position: absolute;
        top: 32px;
        right: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        opacity: 0.4;
        z-index: 1;
      }
    }

    .main--product & {
      min-height: auto;
      height: 300px;
      padding: 48px 40px;

      &:nth-of-type(1) {
        width: calc(50% - 40px);
        margin-left: calc(50% + 40px);
      }

      &:nth-of-type(2) {
        width: calc(50% + 40px);
      }

      &:nth-of-type(3) {
        width: calc(25% - 20px);
      }

      &:nth-of-type(4) {
        width: calc(25% - 20px);
      }

      &::before {
        top: 48px;
        left: 40px;
      }
    }

    .products__items--grid & {
      width: 50%;
      flex-grow: 1;
      border-right: 1px solid #eceff1;
    }

    .products__items--row & {
      width: 100%;
    }

    &:nth-of-type(n + 9) {
      border-bottom: 0;
    }

    &:nth-of-type(n + 10) {
      display: grid;

      &::before {
        display: none;
      }
    }
  }

  .products__image {
    align-self: center;
    width: 235px;
    height: 207px;
    transition: all 1s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .products__name {
    width: auto;
    margin-top: 0;
    padding-left: 0;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  .products__button {
    display: none;
  }
}

@media (min-width: 1440px) {
  .products__items {
    width: calc(100% - 390px);
  }

  .products__item {
    .products__items--grid & {
      width: 33%;
    }
  }
}

@media (min-width: @desktop-width) {
  .products {
    padding-left: calc(50% - @desktop-width / 2 + @desktop-offset);
    padding-right: calc(50% - @desktop-width / 2 + @desktop-offset);
  }

  .products__header {
    padding-left: calc(50% - 1688px / 2 + 64px);
  }
}
