.projects {
  background-color: #15262e;
  padding-top: 62px;
  margin-bottom: 168px;
}

.projects__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 24px;
  margin-right: 52px;
}

.projects__more {
  display: none;
}

.projects__controls {
  display: none;
}

@media (min-width: @desktop-width) {
  .projects {
    order: 10;
    display: flex;
    align-items: flex-end;
    width: 100%;
    min-height: 506px;
    margin-bottom: 231px;
    padding-top: 0;
    padding-left: 61px;
    position: relative;
    background-image: linear-gradient(to right, #ffffff 37vw, #15262e 37vw);
  }

  .projects__header {
    width: 300px;
    margin-bottom: auto;
    margin-right: 0;
    padding-top: 122px;
    padding-bottom: 40px;
    flex-shrink: 0;
  }

  .projects__title {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 73px;
    font-size: 36px;
    line-height: 37px;
    color: #15262e;

    & .arrow::after {
      display: none;
    }
  }

  .projects__controls {
    top: 0;
    left: 37vw;
  }

  .projects__slider {
    margin-left: calc(37vw - 300px);
  }
}

@media (min-width: 1440px) {
  .projects__header {
    width: 450px;
  }

  .projects__slider {
    margin-left: calc(37vw - 450px);
  }
}
