.projects {
  background-color: #15262e;
  padding-top: 62px;
  margin-bottom: 168px;
}

.projects__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 24px;
  margin-right: 52px;
}

.projects__more {
  display: none;
}

.projects__controls {
  display: none;
}
