.projects {
  background-color: #15262e;
  padding-top: 62px;
  margin-bottom: 168px;
}

.projects__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 24px;
  margin-right: 52px;
}

.projects__more {
  display: none;
}

.projects__controls {
  display: none;
}

@media (min-width: @notebook-width) {
  .projects {
    order: 10;
    display: flex;
    align-items: flex-end;
    width: calc(100% - 670px - (@notebook-offset + unit(@desktop-offset - @notebook-offset) * (100vw - @notebook-width) / unit(@desktop-width - @notebook-width)));
    min-height: 506px;
    margin-bottom: 186px;
    margin-left: calc(670px + (@notebook-offset + unit(@desktop-offset - @notebook-offset) * (100vw - @notebook-width) / unit(@desktop-width - @notebook-width)));
    padding-top: 0;
    padding-left: 0;
    position: relative;
    background-color: #15262e;
  }

  .projects__header {
    transform: translateX(calc(-670px - (@notebook-offset + unit(@desktop-offset - @notebook-offset) * (100vw - @notebook-width) / unit(@desktop-width - @notebook-width))));
    width: calc(400px + (@notebook-offset + unit(@desktop-offset - @notebook-offset) * (100vw - @notebook-width) / unit(@desktop-width - @notebook-width)));
    margin-bottom: auto;
    margin-right: calc(-400px - (@notebook-offset + unit(@desktop-offset - @notebook-offset) * (100vw - @notebook-width) / unit(@desktop-width - @notebook-width)));
    padding-top: 128px;
    padding-bottom: 40px;
    .fluid(padding-left, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);
    .fluid(padding-right, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);
    flex-shrink: 0;
    z-index: 0;
  }

  .projects__title {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 73px;
    font-size: 36px;
    line-height: 37px;
    color: #15262e;

    & .arrow::after {
      display: none;
    }
  }

  .projects__controls {
    top: 0;
    left: 0;
  }

  .projects__slider {
    margin-left: -200px;
  }
}

@media (min-width: @desktop-width) {
  .projects {
    width: calc(100% - 670px - (50vw - @desktop-width / 2 + @desktop-offset - @scrollbar-width / 2));
    margin-left: calc((50vw - @desktop-width / 2 + @desktop-offset - @scrollbar-width / 2) + 670px);
  }

  .projects__header {
    transform: translateX(calc(-670px - (50vw - @desktop-width / 2 + @desktop-offset)));
    width: calc((50vw - @desktop-width / 2 + @desktop-offset) + 400px);
    margin-right: calc(-400px - (50vw - @desktop-width / 2 + @desktop-offset));
    padding-left: calc(50vw - @desktop-width / 2 + @desktop-offset - @scrollbar-width / 2);
    padding-right: @desktop-offset;
  }
}
