.search {
  width: 100%;
  position: fixed;

  &--closed {
    display: none;
  }
}

.search__icon {
  position: fixed;
  z-index: 1;
  left: 24px;
  top: 22px;
  width: 20px;
  height: 20px;
  background: url("../../img/icon-search.svg") no-repeat center;
}

.search__field {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  border: 0;
  background-color: #243239;
  border-bottom: 2px solid transparent;
  padding: 0;
  color: #8c929a;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding-left: 52px;
  padding-right: 64px;

  /*stylelint-disable*/
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  &::-ms-clear {
    display: none;
    width : 0;
    height: 0;
  }

  &::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
  /*stylelint-enable*/

  &::placeholder {
    color: #8c929a;
  }

  &:focus,
  &:active {
    caret-color: #fbc02d;
    border-bottom: 2px solid #fbc02d;
  }
}

.search__link {
  display: none;
}

.search__button {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 56px;
  border: 0;
  background-color: #fcc742;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @title-color;
  cursor: pointer;
}

@media (min-width: @notebook-width) {
  .search {
    order: 5;
    margin-top: 28px;
    margin-bottom: 39px;
    margin-left: auto;
    position: static;
    width: auto;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;

    &--closed {
      display: flex;
    }
  }

  .search__icon {
    position: static;
    width: 48px;
    height: 48px;
    background-color: #eceff1;
    flex-shrink: 0;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    &--opened {
      border-bottom: 2px solid #fcc742;
    }
  }

  .search__field {
    position: relative;
    width: 100%;
    height: 48px;
    padding-left: 0;
    padding-right: 20px;
    background-color: #eceff1;
    border-bottom: 2px solid transparent;

    &--closed {
      width: 0;
      padding-right: 0;
    }

    &:focus,
    &:active {
      border-bottom: 2px solid #fcc742;
      // flex-grow: 1;
    }
  }

  .search__link {
    display: flex;
    align-items: center;
    font-size: 0;
    text-decoration: none;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    &--comparison {
      margin-left: 24px;
      margin-right: 24px;
    }

    &--cart {
      margin-right: 24px;
    }

    &--empty&--comparison {
      background-image: url("../../img/icon-comparison-empty-out-header.svg");

      &:hover {
        background-image: url("../../img/icon-comparison-empty-over-header.svg");
      }
    }

    &--fill&--comparison {
      background-image: url("../../img/icon-comparison-fill-out-header.svg");

      &:hover {
        background-image: url("../../img/icon-comparison-fill-over-header.svg");
      }
    }

    &--empty&--cart {
      background-image: url("../../img/icon-cart-empty-out-header.svg");

      &:hover {
        background-image: url("../../img/icon-cart-empty-over-header.svg");
      }
    }

    &--fill&--cart {
      background-image: url("../../img/icon-cart-fill-out-header.svg");

      &:hover {
        background-image: url("../../img/icon-cart-fill-over-header.svg");
      }
    }
  }

  .search__number {
    top: auto;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    margin-left: 28px;
    opacity: 0.8;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    .search__link--empty & {
      color: #455a64;
    }

    .search__link--empty:hover & {
      opacity: 1;
      color: #5a686f;
    }

    .search__link--fill & {
      color: #fbc02d;
    }

    .search__link--fill:hover & {
      opacity: 1;
      color: #f1ac00;
    }
  }

  .search__button {
    position: static;
    width: auto;
    height: 48px;
    flex-shrink: 0;
    margin-left: 16px;
    padding-left: 33px;
    padding-right: 33px;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    background-color: transparent;
    border: 1px solid #f1ac00;

    &:hover {
      background-color: #ffb600;
      color: #000000;
    }
  }
}
