.sidebar {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 56px;
  background-color: #f7f7f9;
  display: flex;
  flex-wrap: wrap;

  &--closed {
    display: none;
  }
}

.sidebar__link {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding-bottom: 6px;
  word-break: break-word;
  text-decoration: none;
  color: rgba(51, 51, 51, 0.4);
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;

  &--catalog {
    background-color: #fbc02d;
  }
}

.sidebar__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: no-repeat center;
    background-size: contain;
  }

  &--call::before {
    top: -28px;
    width: 23px;
    height: 23px;
    background-image: url("../../img/icon-call-mobile.svg");
  }

  &--discounts::before {
    top: -28px;
    width: 23px;
    height: 23px;
    background-image: url("../../img/icon-discounts-mobile.svg");
  }

  &--сomparison::before {
    top: -28px;
    width: 23px;
    height: 23px;
    background-image: url("../../img/icon-comparison-mobile.svg");
  }

  &--cart::before {
    top: -28px;
    width: 23px;
    height: 23px;
    background-image: url("../../img/icon-cart-mobile.svg");
  }

  &--catalog {
    color: rgba(51, 51, 51, 0.5);

    &::before {
      top: -28px;
      width: 23px;
      height: 23px;
      background-image: url("../../img/icon-catalog.svg");
    }
  }
}

.sidebar__amount {
  display: none;
}

@media (min-width: @desktop-width) {
  .sidebar {
    // left: 0;
    // right: auto;
    // width: 80px;
    // height: 100%;
    // flex-direction: column;
    // flex-wrap: nowrap;
    // background: none;
    // z-index: 3;
    display: none;
  }

  .sidebar__link {
    flex-shrink: 0;
    align-items: center;
    width: 100%;
    min-height: 100px;
    padding-top: 60px;
    padding-bottom: 28px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #15262e;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.4);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 2;

    &:hover {
      background-color: rgba(21, 38, 46, 0.95);
    }

    &--call {
      display: none;
    }

    &--discounts {
      order: 1;
      border-top: 0;
    }

    &--сomparison {
      order: 3;
    }

    &--cart {
      order: 2;
    }

    &--catalog {
      order: 100;
      background-color: #fbc02d;
      flex-grow: 1;
      min-height: 200px;
      justify-content: center;
      padding-top: 28px;

      &:hover {
        background-color: #ffb600;
      }
    }

    &:first-of-type {
      border-top: 0;
    }

    &:last-of-type {
      border-top: 0;
    }
  }

  .sidebar__item {
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    &::before {
      width: 24px;
      height: 24px;
    }

    &--discounts::before {
      top: -35px;
      background-image: url("../../img/icon-discounts-desktop.svg");
    }

    &--сomparison::before {
      top: -35px;
      background-image: url("../../img/icon-comparison-desktop.svg");
    }

    &--cart::before {
      top: -35px;
      background-image: url("../../img/icon-cart-desktop.svg");
    }

    &--catalog {
      writing-mode: vertical-rl;
      transform: rotate(180deg) translateY(16px);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.05em;
      color: @title-color;
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

      &::before {
        top: -26px;
        left: 50%;
        width: 3px;
        height: 3px;
        background: none;
        background-color: #000000;
        transform: translateX(-50%);
        transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        box-shadow:
          -6px -6px,
          0 -6px,
          6px -6px,
          -6px 0,
          6px 0,
          -6px 6px,
          0 6px,
          6px 6px;
      }

      .sidebar__link:hover &::before {
        box-shadow:
          -8px -8px,
          0 -8px,
          8px -8px,
          -8px 0,
          8px 0,
          -8px 8px,
          0 8px,
          8px 8px;
      }
    }

    .sidebar__link:hover & {
      color: #ffffff;

      &--catalog {
        color: #000000;
      }
    }
  }

  .sidebar__amount {
    position: absolute;
    top: -35px;
    right: 0;
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #fbc02d;
  }
}
