.slider {
  padding-left: 24px;
  transform: translateY(72px);
  margin-top: -72px;
}

.slider__item {
  margin-right: 16px;
  text-decoration: none;
}

.slider__image {
  height: 188px;
  width: 238px;
  object-fit: cover;
}

.slider__heading {
  min-height: 72px;
  width: 238px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 19px;
  background-color: #fbc02d;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: @title-color;
  display: flex;
  text-align: center;
}

@media (min-width: @desktop-width) {
  .slider {
    padding-left: 0;
    transform: translateY(76px);
    margin-top: -76px;
  }

  .slider__items {
    height: 100%;
  }

  .slider__item {
    flex-direction: column;
    overflow: hidden;
  }

  .slider__image {
    width: 352px;
    height: 376px;
    transition: 2s ease;
    transform-origin: 50% 50%;

    &:hover {
      transform: scale(1.1);
    }
  }

  .slider__heading {
    width: 352px;
    min-height: 76px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    .slider__item:hover & {
      color: #000000;
      background-color: #ffb600;
    }
  }
}

@media (min-width: 1920px) {
  .slider {
    transform: translateY(91px);
    margin-top: -91px;
  }

  .slider__image {
    width: 422px;
    height: 451px;
  }

  .slider__heading {
    width: 422px;
    min-height: 91px;
    font-size: 16px;
  }
}

@media (min-width: 2200px) {
  .slider {
    transform: translateY(114px);
    margin-top: -114px;
  }

  .slider__image {
    width: 528px;
    height: 564px;
  }

  .slider__heading {
    width: 528px;
    min-height: 114px;
    font-size: 18px;
  }
}
