.slider {
  padding-left: 24px;
  transform: translateY(72px);
  margin-top: -72px;
}

.slider__items {
  &--hidden {
    display: none;
  }
}

.slider__item {
  margin-right: 16px;
  text-decoration: none;
}

.slider__image {
  height: 188px;
  width: 238px;
  object-fit: cover;
}

.slider__heading {
  min-height: 72px;
  width: 238px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 19px;
  background-color: #fbc02d;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: @title-color;
  display: flex;
  text-align: center;
}

@media (min-width: @notebook-width) {
  .slider {
    padding-left: 0;
    transform: translateY(76px);
    margin-top: -76px;
    width: 1088px;

    .main--product & {
      height: 452px;
    }

    .industry--projects & {
      margin-left: calc(-200px - (40px + 24 * (100vw - 1024px) / 664));
    }
  }

  .slider__items {
    height: 100%;

    &--hidden {
      display: none;
    }
  }

  .slider__item {
    flex-direction: column;
    overflow: hidden;

    &:only-of-type {
      width: calc(100vw - 420px - 50px - (@notebook-offset + unit(@desktop-offset - @notebook-offset) * (100vw - @notebook-width) / unit(@desktop-width - @notebook-width)) * 2 - @scrollbar-width);
      margin-right: 0;
    }
  }

  .slider__image {
    width: 352px;
    height: 376px;
    transition: 2s ease;
    transform-origin: 50% 50%;

    .main--product .slider__item:only-of-type & {
      width: auto;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .slider__heading {
    width: 352px;
    min-height: 76px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    .main--product .slider__item:only-of-type & {
      width: auto;
    }

    .slider__item:hover & {
      color: #000000;
      background-color: #ffb600;
    }
  }
}

@media (min-width: @desktop-width) {
  .slider {
    width: 1088px;

    .industry--projects & {
      margin-left: -200px;
    }
  }

  .slider__item {
    &:only-of-type {
      width: 1088px;
    }
  }
}
