.support {
  display: none;

  .main--product & {
    display: block;
    margin-bottom: 8px;
  }
}

.support__item {
  text-decoration: none;

  .main--product & {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 1px solid #eceff1;

    &--more {
      padding-top: 0;
      padding-bottom: 0;
      border-top: 0;
    }

    &:last-of-type:not(.support__item--more) {
      border-bottom: 1px solid #eceff1;
    }
  }
}

.support__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: @title-color;

  .main--product & {
    order: 1;
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;

    &--more {
      width: auto;
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 24px;
      line-height: 31px;
      letter-spacing: 0.02em;
    }
  }
}

.support__icon {
  fill: #f1ac00;

  .main--product & {
    margin-bottom: 16px;
  }

  .support__item--service &,
  .support__item--repair &,
  .support__item--pipeline & {
    stroke: #f1ac00;
  }
}

@media (min-width: @notebook-width) {
  .support {
    counter-reset: items;
    order: 9;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 110px;
    .fluid(padding-left, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);
    .fluid(padding-right, @notebook-offset, @desktop-offset, @notebook-width, @desktop-width);

    .main--product & {
      order: initial;
      display: flex;
      margin-bottom: 0;
    }
  }

  .support__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 37px;
    color: #15262e;
  }

  .support__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    height: 339px;
    padding: 3vw 1.9vw;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: @title-color;
    position: relative;
    mix-blend-mode: multiply;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    &::before {
      content: "0" counter(items);
      position: absolute;
      counter-increment: items;
      top: 41px;
      right: 43px;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: rgba(22, 22, 22, 0.4);
      transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 27px;
      right: -220px;
      opacity: 0;
      visibility: hidden;
      min-width: 200px;
      width: 70%;
      height: 70%;
      background: no-repeat right center;
      background-size: contain;
      mix-blend-mode: multiply;
      transition:
        right 0.5s cubic-bezier(0.77, 0, 0.175, 1),
        opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1),
        visibility 0.1s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &--more {
      background-color: #fbc02d;
      align-items: center;
      z-index: auto;

      &:hover {
        background-color: #ffb600;
      }

      &::before,
      &::after {
        display: none;
      }
    }

    &--engineering {
      &::after {
        background-image: url("../../img/support-bg-01.png");
      }
    }

    &--consultation {
      &::after {
        background-image: url("../../img/support-bg-02.png");
      }
    }

    &--setup {
      &::after {
        background-image: url("../../img/support-bg-03.png");
      }
    }

    &--service {
      &::after {
        background-image: url("../../img/support-bg-04.png");
      }
    }

    &--diagnostic {
      &::after {
        background-image: url("../../img/support-bg-01@1x.png");
      }
    }

    &--repair {
      &::after {
        background-image: url("../../img/support-bg-06.png");
      }
    }

    &--pipeline {
      &::after {
        background-image: url("../../img/support-bg-07.png");
      }
    }

    &:nth-of-type(4n) {
      border-right: 1px solid rgba(0, 0, 0, 0.05);
    }

    &:nth-last-of-type(-n + 4) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    .main--product & {
      height: 320px;
      justify-content: flex-end;
      border-top: 1px solid rgba(0, 0, 0, 0.05);

      &--more {
        align-items: flex-start;
        padding-top: 32px;
        padding-bottom: 40px;

        &::after {
          content: "";
          display: block;
          top: 38px;
          right: 34px;
          width: 16px;
          height: 16px;
          opacity: 1;
          visibility: visible;
          background-image: url("../../img/icon-arrow-top-right-black.svg");
        }

        &:hover {
          background-color: #ffb600;

          &::after {
            right: 34px;
          }
        }
      }

      &:last-of-type:not(.support__item--more) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      }
    }

    &:hover {
      background-color: #fbc02d;

      &::before {
        color: rgba(22, 22, 22, 0.8);
      }

      &::after {
        opacity: 1;
        visibility: visible;
        right: -20px;
      }
    }
  }

  .support__caption {
    max-width: 200px;
    min-height: 38px;
    margin-top: auto;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: @title-color;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    .support__item--more & {
      margin-bottom: auto;
      text-align: center;

      .main--product & {
        font-size: 36px;
        line-height: 42px;
      }
    }

    .main--product & {
      margin-bottom: 0;
    }

    .support__item:hover & {
      color: #000000;
    }
  }

  .support__icon {
    position: absolute;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transform: scale(1);
    transform-origin: 0 50%;

    .support__item--engineering & {
      top: 156px;
    }

    .support__item--consultation & {
      top: 151px;
    }

    .support__item--setup & {
      top: 148px;
    }

    .support__item--service & {
      top: 156px;
      stroke: #f1ac00;
    }

    .support__item--diagnostic & {
      top: 166px;
    }

    .support__item--repair & {
      top: 160px;
      stroke: #f1ac00;
    }

    .support__item--pipeline & {
      top: 152px;
      stroke: #f1ac00;
    }

    .support__item:hover & {
      top: 33px;
      transform: scale(0.5);
      fill: #000000;
    }

    .support__item--service:hover &,
    .support__item--repair:hover &,
    .support__item--pipeline:hover & {
      stroke: #000000;
    }
  }
}

@media (min-width: @desktop-width) {
  .support {
    padding-left: calc(50% - @desktop-width / 2 + @desktop-offset);
    padding-right: calc(50% - @desktop-width / 2 + @desktop-offset);
  }

  .support__item {
    padding: 42px 37px;

    &--engineering {
      background-position: 42px 145px;

      &:hover {
        background-position: 42px 33px;
      }
    }

    &--consultation {
      background-position: 43px 140px;

      &:hover {
        background-position: 43px 33px;
      }
    }

    &--setup {
      background-position: 36px 137px;

      &:hover {
        background-position: 36px 33px;
      }
    }

    &--service {
      background-position: 42px 145px;

      &:hover {
        background-position: 42px 33px;
      }
    }

    &--diagnostic {
      background-position: 38px 155px;

      &:hover {
        background-position: 38px 33px;
      }
    }

    &--repair {
      background-position: 40px 149px;

      &:hover {
        background-position: 40px 33px;
      }
    }

    &--pipeline {
      background-position: 41px 141px;

      &:hover {
        background-position: 41px 33px;
      }
    }
  }
}
